[Unit]
Description=hst
After=mysql.service

[Service]
Type=simple
TimeoutStartSec=0
ExecStart=/var/www/html/huicloud/hst/hst.sh
Restart=always
RestartSec=10
#StandardOutput=/var/www/html/huicloud/hst/hst.log
#StandardError=/var/www/html/huicloud/hst/hsterr.log
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
